.Contact{
    background-color: rgb(100, 100, 300);
    height: 100px;
    text-align: center;
    padding: 10px;
}
.button{
    width: 130px;
height:40px;
padding: 2px;
color: blue;
}
.button:hover{
background-color: red;

}
